<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Needs Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Needs Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <app-list></app-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-button" (click)="createNeed()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
