page-settings {
    .item-md {
        padding-left: 0;
    }
    .item-inner {
        padding: 10px 17px 10px 17px;
    }
    
    .reminded-item {
        .item-inner {
            border-bottom: none !important;
        }
    }
}
