<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
      <ion-label>Toggle notifications</ion-label>
      <ion-toggle [(ngModel)]="provideNotifications" (ngModelChange)="onToggleChange($event)"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="provideNotifications">
      <div>When do you want to be reminded?</div>
    </ion-item>
    <ion-item *ngIf="provideNotifications">
      <ion-label floating>Time</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="reminderTime" name="time"></ion-datetime>
    </ion-item>
</ion-content>
